@import 'vars';

@mixin element-spacing {
  margin-top: $el-spacing;
  margin-bottom: $el-spacing;
}

@mixin element-spacing-half {
  margin-top: $el-spacing-half;
  margin-bottom: $el-spacing-half;
}
