$color-background: #FAFAFA;
$color-border: #757575;
$color-link: #3499BA;
$color-link-hover: #206075;

$el-spacing: 1em;
$line-height: 1.5em;
$transition-time: 0.3s;

$body-width: 85%;
$code-margin: 0.5em;
$header-footer-padding: 2em;
$img-margin: 0.5em;
$input-textarea-padding: 0.5em;
$input-textarea-margin: 0.5em;

$hamburger-position: $el-spacing;
