$color-background: #FAFAFA;
$color-border: #757575;
$color-link: #3499BA;
$color-link-hover: #206075;

$el-spacing: 1em;
$el-spacing-half: 0.5em;
$line-height: 1.5em;
$transition-time: 0.3s;

$body-width: 85%;
$max-body-width: 960px;
$code-margin: 0.5em;
$header-footer-padding: 2em;
$header-footer-padding-mobile: 1em;
$img-margin: 0.5em;
$input-textarea-padding: 0.5em;
$input-textarea-margin: 0.5em;

$hamburger-position: $el-spacing;

$mobile-max-device-width: 600px;
$mobile-max-device-width-photography: 400px;
